/* stylelint-disable unknownAtRules */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tailwindcss";
@plugin "@tailwindcss/typography";


button,
a,
select,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  cursor: pointer;
}
h1, h2, h3, h4, .font-playfair {
  color: #1c1917; /* stone-900 */
}

body {
  color: #292524; /* stone-800 */
}
